<%= form_with(model: score, local: true) do |form| %>
  <div class="field best-score d-none p-2">
    <%= form.text_field :name,  id: 'user-name', placeholder: 'Enter your name here', class: 'form-control form-control-sm' %>
  </div>

    <%= form.hidden_field :mark, id: 'score-mark', value: '0' %>
		<%= form.hidden_field :date, id: 'score-date', value: DateTime.now %>

  <div class="actions best-score m-4 d-none">
    <%= form.submit class: 'btn btn-warning' %>
  </div>
<% end %>
