<%= form_with(model: score, local: true) do |form| %>
  <div class="field">
    <%= form.text_field :name,  id: 'user-name', placeholder: 'Enter your name here', class: 'form-control form-control-sm' %>
  </div>

    <%= form.hidden_field :mark %>
		<%= form.hidden_field :date, id: 'score-date', value: DateTime.now %>

  <div class="actions m-4">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
