<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @score.name %>
</p>

<p>
  <strong>Mark:</strong>
  <%= @score.mark %>
</p>

<p>
  <strong>Date:</strong>
  <%= @score.date %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
