<!DOCTYPE html>
<html>
  <head>
	  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Limulus" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Limulus" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
		<%= include_gon %>
    <%= javascript_include_tag 'application' %>
		<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%#= render 'layouts/navigation' %>
    </header>

       <%= render 'layouts/messages' %>
       <%= yield %>
  </body>
</html>
